/* index-styles.css */

.flex-title { 
	    display: flex;
	    align-items: center;
	    gap: 10px; 
	}

.icon-small {
      width: 24px;
      height: 24px;
  }

.text-white {
      color: #ffffff;
  }

.mb-small {
      margin-bottom: 14px;
  }

.text-heart {
      color: #e25555;
  }
